/*********************
* Some general styles
*********************/
/*
body, html { 
	font-family: verdana, Arial, sans-serif; 
	font-size: 10pt; 
	line-height:1.3;
	background-color: #ffffff; 
	color: Black; 
	margin: 0.5em 2em 2em 2em; 
}

h1, h1.topictitle1 {
	font-family: Verdana, Arial, Helvetica; 
	font-weight: normal; font-size: 18pt;
}
*/


/********************************
* Styles for Previous/Next links
********************************/
div.tutorialPrevNext { 
	text-align: right;
	margin: 2em 0em 1em 0em; 
	padding: 6px;
	font-weight: normal;
	background-image: url("../images/prev-next-bg.gif");
	background-position: top right;
	background-repeat: no-repeat;
	
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #CCC;
	
}

a.tutorialNext, a.tutorialNext:visited, a.tutorialPrev, a.tutorialPrev:visited { 
	text-decoration: none; 
}

a.tutorialNext:hover, a.tutorialPrev:hover {
	text-decoration: underline;
}

/***********************
* Styles for breadcrumb
***********************/
/*
div.breadcrumb {
	font-size: 8pt; 
	line-height: 1.70;
}

.breadcrumb a, .breadcrumb a:visited {
	text-decoration: none; 
}

.breadcrumb a:hover {
	text-decoration: none; 
}
*/


/************************************************************
* Styles for collapsing sections (Learn More's and Show Me's)
*************************************************************/
/* Wraps entire Learn More */
div.learnmore {
padding: 8px;
margin-top: 1em;
border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF;
	background-image: url("../images/lm-box-bg-yellow.gif");
background-repeat: repeat-y;
}

/* Optional styling for extra div following a Learn More */
/*
div.learnmorebase {
padding:1px;
margin: 25px;
margin: 0px;
background-image: url("../images/lm-box-bottom-stroke.gif");
background-repeat: no-repeat;
}
*/

/* Wraps entire Show Me */
div.showme {
	padding: 8px;
	margin-top: 1em;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF;
	background-image: url("../images/showme_bg_gray.gif");
	background-repeat: repeat-y;
	
}

/* The div around the head division */
div.collapseheadlearnmore, div.collapseheadshowme {
	padding: 8px 0px 8px 35px;
	margin-left:0em;
	background-repeat: no-repeat;
}

div.collapseheadlearnmore 	{ background-image: url("../images/learn-more_icon32.gif"); }
div.collapseheadshowme		{ background-image: url("../images/show-me_icon32.gif"); }

.collapsehead, .collapseheadopen {
	font-weight: normal;
	text-decoration: none;
	padding-right: 12px;
	background-image: url("../images/widget-closed.gif");
	background-position: right;
	background-repeat: no-repeat;
	vertical-align: baseline;
}

.collapseheadopen {
	background-image: url("../images/widget-open.gif");
}

a.collapsehead:hover {
   background-image: url("../images/widget-closed-rollover.gif");
}

a.collapsehead, a.collapsehead:visited, a.collapsehead:hover, a.collapseheadopen, a.collapseheadopen:visited, a.collapseheadopen:visited {
	text-decoration: none;
}

/* The div surrounding the collapsed content */
div.collapsecontent {
   display: none;
   margin-top: 1em;
   margin-left:0em;
   padding-left: 35px;
}



/***************************
* Styles for notes and tips
***************************/
div.note {
	padding: 12px 12px 12px 50px;
	background: #F0F6FA;
	margin-top: 1em; 
	background-image: url("../images/note_icon32.gif");
	background-position: 4px 4px;
	background-repeat: no-repeat;
}

div.tip {
	padding: 12px 12px 12px 50px;
	background: #E8F4E7;
	margin-top: 1em; 
	background-image: url("../images/tip_icon32.gif");
	background-position: 4px 4px;
	background-repeat: no-repeat;
}


/********************************** 
* Styles for related links section 
**********************************/
div.tutrelinfo {
	margin-top: 1em;
}

div.relinfo {
	margin-top: 40px; 
	font-weight: bold; 
	font-size: 0.9em; 
	color:#aaa;
}

div.tutorialRelatedLink {
	margin-top: 10px;
}

a.link-demo, a.link-help, a.link-pdf, a.link-sample, a.link-tutorial { 
	padding: 5px 10px 0px 30px;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: center left;
	text-decoration: none;
}

a.link-demo:visited, a.link-help:visited, a.link-pdf:visited, a.link-sample:visited, a.link-tutorial:visited { 
	text-decoration: none;
}

a.link-demo:hover, a.link-help:hover, a.link-pdf:hover, a.link-sample:hover, a.link-tutorial:hover { 
	text-decoration: underline;
}

a.link-demo 	{ background-image: url("../images/link_demo_ico24.gif"); }
a.link-help 	{ background-image: url("../images/link_help_icon24.gif"); }
a.link-pdf 		{ background-image: url("../images/link_pdf_icon24.gif"); }
a.link-sample 	{ background-image: url("../images/link_sample_icon24.gif"); }
a.link-tutorial { background-image: url("../images/link_tutorial_icon24.gif"); }


/********************************
* Special import link
********************************/
a.link-import {
	padding: 10px 0px 10px 35px;
	background-image: url("../images/import_icon32.gif");
	background-repeat: no-repeat;
	background-position: center left;
}

/************************* 
* Special Start Tour link 
*************************/
a.link-tour, a.link-tour:visited, a.link-tour:hover {
	margin: 30px 30px 30px 50px;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	padding: 12px 12px 12px 45px;
	background-image: url("../images/start_tour.gif");
	background-repeat: no-repeat;
	background-position: 6px 6px;
	
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #CCC;
	
	line-height: 4.0;
}


/*************************************
* Styles for special Content sections
*************************************/
div.tutorialTimeRequired, div.tutorialLearningObjectives {
	padding: 0px 0px 20px 50px;
	background-position: top left;
	background-repeat: no-repeat;
}
div.tutorialTimeRequired { background-image: url("../images/time-reqd_icon32.gif");}
div.tutorialLearningObjectives { background-image: url("../images/learn-obj_icon32.gif");}



/*********************************************
* General link styles for those not specified
*********************************************/
/*
a {
	color:#00507C;
	text-decoration: underline;
}

a:visited {
	color:#00507C; 
	text-decoration: underline;
}

a:hover	{
	color:#69C; 
	text-decoration: underline;
}
*/